@import "tailwindcss";

.castimg::-webkit-scrollbar {
  height: 8px; /* Height for horizontal scrollbar */
}

.castimg::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar */
  border-radius: 4px;
}

.castimg::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker when hovered */
}

body {
  width: 99vw;
  height: 100vh;
}

#root {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100vw;
  height: 100vh;
}
